.chat-main__message.clearfix
  .chat-main__message-name
    = message.user.name
  .chat-main__message-time
    = message.created_at
  - if message.body.present?
    %p.chat-main__message-body
      = message.body
  %p.chat-main__message-body
    = image_tag message.image.url if message.image.present?
