.chat-side
  .notification

  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name
        testtest

      .chat-side__user--new-group
        test
      .chat-side__user--edit-user

  .chat-side__groups

.chat-main
  .chat-main__header

  .chat-main__body

  .chat-main__footer
