.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;

  &__header {
    background-color: $white;
    height: 15%;
    border: 1px solid #eeeeee;

    &--group {
      @include clearfix;
      margin: 0 40px;

      &-name {
        color: $black;
        font-size: 20px;
        margin: 35px 0 15px;
        float: left;
      }

      &-edit-btn {
        color: $blue;
        font-size: 15px;
        padding: 12.5px 20px;
        margin: 28px 20px 0;
        border: 1px solid $blue;
        float: right;
        text-decoration: none;
      }
    }

    &-member {
      color:$glay;
      font-size:12px;
      margin: 0 40px;
    }
  }

  &__body {
    height: calc(100vh - 15% - 90px);
    overflow-y: scroll;

    &--messages-list {
      padding-top: 26px;
      padding-left: 40px;

      .chat-main__message {
        @include clearfix;
        padding: 20px 0;

        &-name {
          color: $blueglay;
          font-size: 16px;
          font-weight: bold;
          float: left;
        }

        &-time {
          padding: 0 10px 10px;
          color: $glay;
          font-size: 12px;
          float: left;
        }

        &-body {
          color: $blueglay;
          font-size: 14px;
          clear: both;
        }
      }
    }
  }

  &__footer {
    height: 90px;
    width: 100%;
    background-color: $darkglay;

    &-form {
      margin: 0 40px;
      position: relative;
    }

    &-body {
      position: relative;
      .message {
        height: 20px;
        width: calc(100% - 150px);
        padding: 15px 10px;
        margin: 20px 0;
        border: none;
      }
      .chat-file {
        height: 50px;
        width: 40px;
        margin: 32px 130px 20px 0;
        position: absolute;
        top: 0;
        right: 0;
      }
      .image {
        position: absolute;
        top: 15px;
        left: 15px;
        display: none;
      }
      .submit {
        color: $white;
        width: 100px;
        height: 50px;
        text-align: center;
        background-color: $blue;
        margin: 20px 0;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
      }
    }

  }
}
